*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}

input {
    outline: none;
    border : 1px solid var(--clr-border-primary);
    outline : var(--clr-primary);
}

.login-form {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 40%;
    gap: 1rem;
}

.form-container {
    padding: 2.5rem;
    background-color: #FFF;
    border-radius: .5rem;
    box-shadow: 0 0 10px var(--clr-border-primary);
}

.form-banner img{
    width: 100%;
}

main {
    margin-top: 0;
    min-height: 100vh;
}

input {
    padding: .5rem 1rem;
}

.or::before, .or::after {
    content: '';
    height: 1px;
    background-color:var(--clr-border-primary);
    display: inline-block;
    width: auto;
    flex-grow: 1;
}

.or {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.or p {
    margin: 0;
    padding: 0 1rem;
}

.form-row {
    font-family: var(--ff-posts);
    font-size: 1rem;
}

.welcome img{
    height: 2rem;
}
.welcome{
    margin-bottom: .5rem;
}

label {
    margin-bottom: .25rem;
}

form {
    display: none;
    gap: 1rem;
}

.enable {
    display: flex;
}

.error {
    font-size: .925rem;
}

#resend-time, .resend-loading {
    display: none;
}

#username-btn{
    cursor: pointer;
}